<!-- demo body -->
<div class="_demo--container">
    <article class="_content base--article">
      <div class="input">
        <p class="base--p input--description">
          <$= __( 'input-description') $>
        </p>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-tweets" name="rb" value="tweets" checked="true">
        <label class="base--inline-label input--radio-label" for="input-tweets"><$= __('radio-input-tweets') $></label>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-online-review" name="rb" value="review">
        <label class="base--inline-label input--radio-label" for="input-online-review"><$= __('radio-input-review') $></label>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-email" name="rb" value="email">
        <label class="base--inline-label input--radio-label" for="input-email"><$= __('radio-input-email') $></label>
        <input role="radio" class="base--radio input--radio" type="radio" id="input-lang-fr" name="rb" value="review-fr">
        <label class="base--inline-label input--radio-label" for="input-lang-fr"><$= __('radio-input-lang-fr') $></label>
        <hr class="base--hr input--hr">
        <div class="panel">
          <textarea class="sampletextarea base--textarea input--textarea" rows="7"></textarea>
        </div>
        <div class="input--submit-button-container">
          <button class="sampletextsubmit base--button input--submit-button" type="submit"><$= __('button-analyze') $></button>
        </div>
      </div>

      <div class="loading">
        <div class="loading--loader">
          <img src="images/loading-indicator.gif">
        </div>
      </div>

      <div class="error">
        <div class="error--message"></div>
      </div>

    </article>
  </div>
