<!-- freeform body -->
<div class="_demo--container">
    <article class="_content base--article">
      <div class="input">
        <p class="base--p input--description">
            Enter your own text and select a language to adjust and improve how your content is perceived.
          </p>
        <hr class="base--hr input--hr">
        <div class="panel">
          <textarea class="freeformtextarea base--textarea input--textarea" rows="7"></textarea>
          <div class="input--choose own-text-language-selector-radio">
            <b><$= __('label-choose-lang') $>: </b>
            <input role="radio" class="base--radio input--radio--lang" type="radio" id="input-own-text-en" name="rb-lang" value="en" checked="true">
            <label class="base--inline-label input--radio-label" for="input-own-text-en"><$= __('radio-lang-en') $></label>
            <input role="radio" class="base--radio input--radio--lang" type="radio" id="input-own-text-fr" name="rb-lang" value="fr">
            <label class="base--inline-label input--radio-label" for="input-own-text-fr"><$= __('radio-lang-fr') $></label>
          </div>
        </div>
        <div class="input--submit-button-container">
          <button class="freeformsubmit base--button input--submit-button" type="submit"><$= __('button-analyze') $></button>
        </div>
      </div>

      <div class="loading">
        <div class="loading--loader">
          <img src="images/loading-indicator.gif">
        </div>
      </div>

      <div class="error">
        <div class="error--message"></div>
      </div>
    </article>
  </div>
