<!-- postgres body
<div class="_demo--container">
    <article class="_content base--article">
      <div class="input">
        <p class="base--p input--description">
            Input your postgres speeches to adjust and improve how your content is perceived.
          </p>
        <hr class="base--hr input--hr">
        <div class="panel">
          <textarea class="postgrestextarea base--textarea input--textarea" rows="7"></textarea>
        </div>
        <div class="input--submit-button-container">
          <button class="postgressubmit base--button input--submit-button" type="submit"><$= __('button-analyze') $></button>
        </div>
      </div>

      <div class="loading">
        <div class="loading--loader">
          <img src="images/loading-indicator.gif">
        </div>
      </div>

      <div class="error">
        <div class="error--message"></div>
      </div>
    </article>
  </div> -->
